.home-container {

    font-size: 14px;

    .title {
        font-weight: bold;
        font-size: 20px;
    }
    
    .tap-detail {
        font-size: 14px;
    }

    .card-body {
        
        .title {
            font-size: 16px;
            font-weight: 500;
        }

        .balance {
            font-size: 20px;
        }
    }
}