.sidebar-container {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background: #fff;
    border-right: 1px solid #3333;
    overflow: hidden;
    width: 230px;
    font-size: 15px;
    padding: 0 15px;

    .line {
        height: .5px;
        background: #3333;
        margin: 17px 0 10px 0;
    }

    .logo {
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;

        .logo-link {
            text-decoration: none;
            font-size: 20px;
        }
    }

    .text-section {
        height: 40px;
        line-height: 40px;
    }

    .sidebar-link {
        height: 30px;
        line-height: 30px;
        display: flex;
        color: #6C757D;
        text-decoration: none;
        transition: .2s;
        
        .icon {
            width: 30px;
        }
    }

    .sidebar-link:hover {
        color: #DC3545;
    }
}
.sidebar-container.hidden {
    display: none;
}