.navbar-container {
    position: relative;
    height: 50px;
    display: flex;
    border-bottom: 1px solid #3333;
    background: #fff;

    .toggle {
        width: 50px;
        text-align: center;
        line-height: 48px;

        .toggle-link { 
            color: #333;
            font-size: 14px;
        }
    }
}